<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-medicos-heading" data-cy="MedicosCreateUpdateHeading" jhiTranslate="evaluacionSumativaApp.medicos.home.createOrEditLabel">
        Crear o editar Medicos
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="evaluacionSumativaApp.medicos.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_nombre" jhiTranslate="evaluacionSumativaApp.medicos.nombre">Nombre</label>
          <input type="text" class="form-control" name="nombre" id="field_nombre" data-cy="nombre" formControlName="nombre" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_rut" jhiTranslate="evaluacionSumativaApp.medicos.rut">Rut</label>
          <input type="text" class="form-control" name="rut" id="field_rut" data-cy="rut" formControlName="rut" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_especialidad" jhiTranslate="evaluacionSumativaApp.medicos.especialidad">Especialidad</label>
          <input
            type="text"
            class="form-control"
            name="especialidad"
            id="field_especialidad"
            data-cy="especialidad"
            formControlName="especialidad"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_telefono" jhiTranslate="evaluacionSumativaApp.medicos.telefono">Telefono</label>
          <input type="text" class="form-control" name="telefono" id="field_telefono" data-cy="telefono" formControlName="telefono" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_ciudad" jhiTranslate="evaluacionSumativaApp.medicos.ciudad">Ciudad</label>
          <input type="text" class="form-control" name="ciudad" id="field_ciudad" data-cy="ciudad" formControlName="ciudad" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_email" jhiTranslate="evaluacionSumativaApp.medicos.email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_estado" jhiTranslate="evaluacionSumativaApp.medicos.estado">Estado</label>
          <input type="checkbox" class="form-check" name="estado" id="field_estado" data-cy="estado" formControlName="estado" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
