<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-paciente-heading"
        data-cy="PacienteCreateUpdateHeading"
        jhiTranslate="evaluacionSumativaApp.paciente.home.createOrEditLabel"
      >
        Crear o editar Paciente
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="evaluacionSumativaApp.paciente.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_nombre" jhiTranslate="evaluacionSumativaApp.paciente.nombre">Nombre</label>
          <input type="text" class="form-control" name="nombre" id="field_nombre" data-cy="nombre" formControlName="nombre" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_rut" jhiTranslate="evaluacionSumativaApp.paciente.rut">Rut</label>
          <input type="text" class="form-control" name="rut" id="field_rut" data-cy="rut" formControlName="rut" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_edad" jhiTranslate="evaluacionSumativaApp.paciente.edad">Edad</label>
          <input type="number" class="form-control" name="edad" id="field_edad" data-cy="edad" formControlName="edad" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_sexo" jhiTranslate="evaluacionSumativaApp.paciente.sexo">Sexo</label>
          <input type="text" class="form-control" name="sexo" id="field_sexo" data-cy="sexo" formControlName="sexo" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_direccion" jhiTranslate="evaluacionSumativaApp.paciente.direccion">Direccion</label>
          <input type="text" class="form-control" name="direccion" id="field_direccion" data-cy="direccion" formControlName="direccion" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_ciudad" jhiTranslate="evaluacionSumativaApp.paciente.ciudad">Ciudad</label>
          <input type="text" class="form-control" name="ciudad" id="field_ciudad" data-cy="ciudad" formControlName="ciudad" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_telefono" jhiTranslate="evaluacionSumativaApp.paciente.telefono">Telefono</label>
          <input type="text" class="form-control" name="telefono" id="field_telefono" data-cy="telefono" formControlName="telefono" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_email" jhiTranslate="evaluacionSumativaApp.paciente.email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
